@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}
.header {
    height: 350px;
    background-image: url(https://swall.teahub.io/photos/small/260-2607358_outer-space.jpg);
    box-shadow: -1px -90px 27px -74px rgba(0,0,0,1) inset, -1px 199px 199px 100px rgba(0,0,0,1);
    -webkit-box-shadow: -1px -90px 27px -60px rgba(0,0,0,1) inset, -1px 10px 100px 100px rgba(0,0,0,1);
    -moz-box-shadow: -1px -90px 27px -74px rgba(0,0,0,1) inset, -1px 199px 199px 150px rgba(0,0,0,1);
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    padding-top: 90px;
}