* {
    margin: 0;
}

h5 {
    width: 400px;
    margin: 0 auto;
    
}

img {
    width: 325px;
    height: 200px;
    object-fit: fill;
}

.newsCard {
    border-collapse: collapse;
    margin-top: 50px;
    display: flex;
}

.container {
    margin-top: 10px;
    min-height: 425px;
}

.content-card {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
    color: white;
    background-color: rgba(0,0,0,0.3);
}