.App {
  text-align: center;
  background-color: rgb(67, 20, 80);
  box-shadow:  0px 157px 67px 110px rgba(0,0,0,1) inset, -1px 199px 199px 199px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 157px 67px -110px rgba(0,0,0,1) inset, -1px 199px 199px 199px rgba(0,0,0,1);
  -moz-box-shadow: 0px 157px 67px -110px rgba(0,0,0,1) inset, -1px 199px 199px 199px rgba(0,0,0,1);
}


